/* BOX SHADOW
- usage: @include box-shadow; or @include box-shadow(0, 2px, 2px, #333);
*/
.vt-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.vt-direction-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.vt-direction-row-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-direction: reverse;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.vt-direction-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.vt-direction-column-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-direction: reverse;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.vt-justify-content-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.vt-justify-content-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.vt-justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.vt-justify-content-space-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.vt-justify-content-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

body {
  font-family: "Muli", sans-serif;
  color: #242424;
}

h1, h2, h3, h4, h5, h6 {
  color: #2b2c2e;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

/**
* Set up a decent box model on the root element
*/
html {
  box-sizing: border-box;
}

/**
  * Make all elements from the DOM inherit from the parent box-sizing
  * Since `*` has a specificity of 0, it does not override the `html` value
  * making all elements inheriting from the root box-sizing value
  * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
  * Basic styles for links
  */
a {
  color: #FD8F5F;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
}

label.vt-required:after {
  content: "*";
  color: #EC0F0F;
  margin-left: 3px;
}

.margin-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1.5;
}

nav ol li,
nav ul li,
menu {
  list-style: none;
}

ul {
  padding-left: 1.25rem;
}
ul li {
  list-style: circle;
}
ul li > ul {
  padding-left: 1.25rem;
}
ul li > ul > li {
  list-style-type: disc;
}

ol {
  padding-left: 1.25rem;
}
ol li {
  list-style: decimal;
}
ol li > ol {
  padding-left: 1.25rem;
}
ol li > ol > li {
  list-style-type: lower-alpha;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.vt-block {
  margin-bottom: 1rem;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
  animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
}

.vt-page-title {
  font-weight: bold;
  font-size: 2rem;
}
.vt-page-title::first-letter {
  text-transform: capitalize;
}

.vt-block-local-tasks-block,
#block-sitebranding {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.vt-view-grid {
  padding-bottom: 1rem;
  overflow: hidden;
}
.vt-view-grid .vt-view-row.vt-flex {
  gap: 1rem;
}

input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=text],
input[type=email],
textarea {
  border: solid 1px transparent;
  background: #f6f6f6;
  padding: 0 20px;
  line-height: 2.5;
  border-radius: 0.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0.5rem;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=text]:hover,
input[type=email]:hover,
textarea:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-2px);
}
input[type=password]:focus-visible,
input[type=search]:focus-visible,
input[type=tel]:focus-visible,
input[type=number]:focus-visible,
input[type=text]:focus-visible,
input[type=email]:focus-visible,
textarea:focus-visible {
  border: solid 1px #FD8F5F;
  outline: none;
  transform: translateY(-2px);
}

form {
  margin-bottom: 1.5rem;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
  animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
}
form ul li {
  list-style: none;
}
form .vt-form-item-signature .webform-signature-pad .button {
  bottom: 0;
  right: 0;
  top: unset;
}
form small {
  display: block;
  margin: 0.5rem 0 0 0;
}
form label {
  display: block;
  margin: 0 0 0.5rem 0;
}
form .vt-seletct {
  margin-top: 0;
}

.vt-form-wraper {
  margin-bottom: 1.2rem;
  clear: both;
  width: 100%;
  float: left;
}
.vt-form-wraper.vt-form-type-checkbox, .vt-form-wraper.vt-form-type-radio {
  margin-bottom: 0.5rem;
}
.vt-form-wraper.fieldgroup legend {
  margin-bottom: 0.5rem;
  display: inline-block;
}

.nice-select {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0.5rem;
}
.nice-select.open {
  z-index: 1;
}
.nice-select:hover {
  transform: translateY(-2px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 9;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=text],
input[type=email],
textarea {
  width: 100%;
  display: block;
}

input[type=range] {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  height: 15px;
  background: linear-gradient(to right, #FD8F5F 0%, #9A2720 100%);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  margin: 0.5rem 0 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 30px;
  background: #ffffff;
  position: relative;
  z-index: 3;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.vt-form-type-checkbox {
  position: relative;
}
.vt-form-type-checkbox .form-checkbox {
  position: relative;
  margin: 0 1rem 0 0;
  opacity: 0;
  cursor: pointer;
}
.vt-form-type-checkbox .form-checkbox + span:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
  content: "";
  position: absolute;
  z-index: 1;
  border: 2px solid #FD8F5F;
  border-top-style: none;
  border-right-style: none;
  height: 0.35rem;
  width: 0.7rem;
  left: 4px;
  top: 9px;
}
.vt-form-type-checkbox .form-checkbox + span:after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border: 2px solid #FD8F5F;
  cursor: pointer;
  top: 3px;
}
.vt-form-type-checkbox .form-checkbox:checked + span:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}

.vt-form-type-radio {
  position: relative;
}
.vt-form-type-radio .form-radio {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
  opacity: 0;
}
.vt-form-type-radio .form-radio + span {
  position: absolute;
  left: 0;
  top: 3px;
}
.vt-form-type-radio .form-radio + span:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  z-index: 1;
  width: 0.6rem;
  height: 0.6rem;
  background: #FD8F5F;
  border-radius: 50%;
}
.vt-form-type-radio .form-radio:checked + span:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.vt-form-type-radio .form-radio + span:after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border: 2px solid #FD8F5F;
  border-radius: 50%;
}

.vt-form-type-select label {
  display: block;
}

.button {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.button:hover {
  border-radius: 1.5rem;
}

.nice-select.open {
  z-index: 2;
}

.button--primary,
.button-primary {
  color: #fff;
  background: #140C40;
  border: 1px solid transparent;
}
.button--primary:hover,
.button-primary:hover {
  color: #140C40;
  border: 1px solid #140C40;
  background: #fff;
}

.button-success,
.button--success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}
.button-success:hover,
.button--success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.vt-nav {
  border-bottom: solid 1px #343a40;
  padding: 0;
}
.vt-nav .vt-nav-item {
  display: inline-block;
}
.vt-nav .vt-nav-item a {
  padding: 0.5rem 1rem;
  color: #343a40;
  display: block;
}
.vt-nav .vt-nav-item a.is-active {
  border: solid 1px #343a40;
  border-bottom: solid 1px #fff;
  margin-bottom: -1px;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.vt-status-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 75vh;
  z-index: 9999;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInUp;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInUp;
}
.vt-status-message .vt-message {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -6px 24px;
  color: #333;
  border: 1px solid;
  display: flex;
  padding: 1rem 3rem 1rem 1rem;
}
.vt-status-message .vt-message .vt-btn-close {
  position: absolute;
  top: 1.4rem;
  right: 1rem;
  opacity: 0.5;
  z-index: 2;
  padding: 0.4rem;
  background-image: url("../images/close.svg");
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.vt-status-message .vt-message.vt-alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.vt-status-message .vt-message.vt-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.vt-status-message .vt-message.vt-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.vt-status-message .vt-message.vt-alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.vt-field {
  margin: 0.75rem 0px;
}
.vt-field .vt-field-label {
  margin-bottom: 0.5rem;
}
.vt-field .vt-field {
  margin: 0px;
}

.vt-region-breadcrumb {
  margin: 1rem 0;
}

.vt-breadcrumb {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 15px;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table td,
table th {
  padding: 12px 15px;
}
table thead tr {
  background-color: #FD8F5F;
  color: #ffffff;
  text-align: left;
}
table tbody tr {
  border-bottom: 1px solid #343a40;
}
table tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #FD8F5F;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.container-full {
  width: 100%;
  padding: 0 15px;
}

.vt-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .vt-row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.vt-row > * {
  padding: 0 15px;
}

.vt-col-1,
.vt-col-2,
.vt-col-3,
.vt-col-4,
.vt-col-5,
.vt-col-6,
.vt-col-7,
.vt-col-8,
.vt-col-9,
.vt-col-10,
.vt-col-11,
.vt-col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 992px) {
  .vt-col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .vt-col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .vt-col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .vt-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .vt-col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .vt-col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .vt-col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .vt-col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .vt-col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .vt-col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .vt-col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .vt-col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
.vt-header .vt-region-header .vt-menu-main > .vt-item, .vt_header_top .vt-region-top-header .vt-menu--account .vt-user-menu-account .vt-item {
  display: inline-block;
  position: relative;
}

.vt_header_top {
  background: #343a40;
  padding: 0.25rem 0;
}
.vt_header_top .vt-region-top-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  justify-content: end;
  padding: 0 15px;
}
.vt_header_top .vt-region-top-header .vt-menu--account .vt-user-menu-account {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: end;
  justify-content: end;
  padding: 0;
  gap: 15px;
}
.vt_header_top .vt-region-top-header .vt-menu--account .vt-user-menu-account .vt-item a {
  color: #ffffff;
}
.vt_header_top .vt-region-top-header .vt-menu--account .vt-user-menu-account .vt-item a:hover {
  color: #FD8F5F;
}

.vt-header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.vt-header .vt-region-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .vt-header .vt-region-header {
    padding: 0;
  }
}
.vt-header .vt-region-header nav#block-mainnavigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.vt-header .vt-region-header .burger {
  width: 40px;
  cursor: pointer;
  overflow: auto;
}
@media (min-width: 768px) {
  .vt-header .vt-region-header .burger {
    display: none;
  }
}
.vt-header .vt-region-header .burger span.burger-line {
  height: 2px;
  width: 75%;
  background-color: #FD8F5F;
  display: block;
  margin: 4px 0;
  float: right;
}
.vt-header .vt-region-header .burger span.burger-line:last-child {
  margin-bottom: 0;
  width: 100%;
}
.vt-header .vt-region-header .burger span.burger-line:first-child {
  margin-top: 0;
  width: 100%;
}
.vt-header .vt-region-header .vt-menu-main {
  display: none;
}
@media (min-width: 768px) {
  .vt-header .vt-region-header .vt-menu-main {
    display: block;
  }
}
.vt-header .vt-region-header .vt-menu-main > .vt-item a.vt-link,
.vt-header .vt-region-header .vt-menu-main > .vt-item span.vt-link {
  padding: 2rem 1rem;
  display: block;
  color: #343a40;
  font-weight: 700;
  font-size: 1.05rem;
}
.vt-header .vt-region-header .vt-menu-main > .vt-item a.vt-link:hover,
.vt-header .vt-region-header .vt-menu-main > .vt-item span.vt-link:hover {
  color: #FD8F5F;
}
.vt-header .vt-region-header .vt-menu-main > .vt-item a.vt-link.is-active,
.vt-header .vt-region-header .vt-menu-main > .vt-item span.vt-link.is-active {
  color: #FD8F5F;
}
.vt-header .vt-region-header .vt-menu-main > .vt-item .vt-submenu {
  position: absolute;
  width: 170px;
  background: #fff;
  left: 0;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  border-top: 5px solid #FD8F5F;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.vt-header .vt-region-header .vt-menu-main > .vt-item .vt-submenu .vt-item {
  list-style: none;
}
.vt-header .vt-region-header .vt-menu-main > .vt-item .vt-submenu .vt-item a.vt-link {
  padding: 1rem;
}
.vt-header .vt-region-header .vt-menu-main > .vt-item.menu-item--expanded:hover .vt-submenu {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.vt-header .vt-region-header .vt-mobile-main-menu .vt-menu-main {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 502;
  overflow-x: hidden;
  transition: 0.5s;
  width: 250px;
  min-height: 100vh;
  right: 0px;
  background: #ffffff;
  padding: 3rem 1.2rem 1.2rem 1.2rem;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInRight;
}
.vt-header .vt-region-header .vt-mobile-main-menu .vt-menu-main::after {
  content: "";
  width: 1rem;
  display: block;
  height: 1rem;
  background: red;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9;
  border-radius: 50%;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}
.vt-header .vt-region-header .vt-mobile-main-menu .vt-menu-main .vt-item {
  display: block;
}
.vt-header .vt-region-header .vt-mobile-main-menu .vt-menu-main .vt-item a.vt-link {
  padding: 0.25rem 0.5rem;
}
.vt-header .vt-region-header .vt-block-system-branding-block .vt-logo {
  max-height: 80px;
}
.vt-header.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #ffffff;
}

.vt-view-header {
  margin-bottom: 0.5rem;
}

.vt-views-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.vt-view-item:not(:last-child),
.vt-view-row:not(:last-child) {
  margin-bottom: 1rem;
}

.vt-views-field {
  margin-bottom: 0.5rem;
}

.vt-view-items-lists {
  padding-bottom: 1rem;
}

.vt-pager {
  justify-content: center;
  margin: 1rem 0;
}
.vt-pager .vt-Pagination {
  gap: 0.5rem;
}

.vt-pager-item {
  display: flex;
  text-align: center;
  width: max-content;
}
.vt-pager-item a {
  text-align: center;
  padding: 0.2rem 0.6rem;
  display: block;
  border: 1px solid #FD8F5F;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.vt-pager-item a:hover {
  background: #FD8F5F;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-2px);
}

.vt-mini-Pagination .vt-pager-item {
  line-height: 2rem;
}
.vt-mini-Pagination .vt-pager-item a {
  line-height: 20px;
  padding-bottom: 5px;
}

.vt-pager-item.is-active a {
  background: #FD8F5F;
  color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.vt-pager-item.is-active a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.vt-view-grid .vt-view-col .vt-views-field img.vt-image {
  max-height: 265px;
  min-height: 265px;
}

.vt-views-field-view-node span {
  display: flex;
  justify-content: center;
}
.vt-views-field-view-node span a {
  line-height: 40px;
  padding: 0 30px;
  font-size: 0.8em;
  color: #fff;
  background: #140c40;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.vt-views-field-view-node span a:hover {
  color: #140C40;
  border: 1px solid #140C40;
  background: #fff;
  transform: translateY(-5px);
  border-radius: 1.5rem;
}

.vt-block-views {
  margin-top: 1rem;
}

footer.site-footer {
  background-color: #343a40;
  padding: 80px 0;
  color: #ffffff;
}
footer.site-footer .vt-region-footer nav {
  margin-bottom: 40px;
}
footer.site-footer .vt-region-footer nav h2 {
  color: #fff;
}
footer.site-footer .vt-region-footer nav ul {
  padding-left: 0;
}

#back-top {
  background: #FD8F5F;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}
#back-top .fa-level-up-alt {
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  transform: rotate(45deg);
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  position: fixed;
  bottom: 38px;
  right: 52px;
}
#back-top a {
  color: #ffffff;
}

.maintenance-page {
  min-height: 100vh;
  text-align: center;
  background-image: url(../images/mantanence.jpg);
}
.maintenance-page main h1 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
