footer.site-footer {
  background-color: $gray-dark;
  padding: 80px 0;
  color: $white;
  .vt-region-footer {
    nav {
      margin-bottom: 40px;
      h2 {
        color: #fff;
      }
      ul {
        padding-left: 0;
      }
    }
  }
}
